<div class="container">

  <div class="row">
    <div class="col-12">
      <h1 id="Spielregeln">Spielregeln</h1>
    </div>
  </div>

  <div *ngFor="let rule of rules">
    <!-- Schleife für Regeln -->

    <div class="row">
      <div class="col-12">
        <h2 id="1">Regel {{rule.number}} - {{rule.caption}}</h2>
      </div>
    </div>

    <div *ngFor="let rulesection of rule.rulesections">

      <div *ngIf="rulesection.caption" class="row">
        <div class="col-12">
          <h3 id="1">{{rulesection.caption}}</h3>
        </div>
      </div>

      <div *ngFor="let paragraph of rulesection.paragraphs">
        <!-- Schleife für Paragraphen -->
        <div class="row">
          <div [id]="paragraph.number" class="col-1">{{paragraph.number}}</div>
          <div class="col-11">
            <p *ngFor="let section of paragraph.sections" [innerHTML]="section">
              <!-- Schleife für einzelne Abschnitte -->
            </p>
            <ol *ngIf="paragraph.subparagraphs" type="a">
              <li *ngFor="let subparagraph of paragraph.subparagraphs" [innerHTML]="subparagraph.content"></li>
            </ol>
            <p *ngIf="paragraph.note">
              <i>
                <b>Hinweis:</b>
                <br>
                <span [innerHTML]="paragraph.note"></span>
              </i>
            </p>
            <p *ngIf="paragraph.comment">
              <i>
                <b>Kommentar:</b>
                <br>
                <span [innerHTML]="paragraph.comment"></span>
              </i>
            </p> <!-- paragraph.comment -->
            <p *ngFor="let postsection of paragraph.postsections" [innerHTML]="postsection">
              <!-- Schleife für einzelne Abschnitte (postsections) -->
            </p> <!-- postsections -->
          </div> <!-- col-11 rechts von Nummer -->
        </div> <!-- row -->
      </div> <!-- paragraph-schleife -->
    </div> <!-- rulesection-schleife -->
  </div> <!-- rule-schleife -->
</div> <!-- ontainer rule -->