
<div class="container">
  
  <div class="row">
    <div class="col-12">
      <h1 id="Spielregeln">Spielregeln</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="1">Regel 1 - Die Spielfläche</h2>
    </div>
  </div>
  <div class="row">
    <div id="1:1" class="col-1">1:1</div>
    <div class="col-11">
      <p><u>Die Spielfläche</u> (Abb. 1) ist ein Rechteck von 40 m Länge und 20 m Breite und umfasst zwei Torräume (Regel 1:4 und Regel 6) und ein Spielfeld. Die Längsseiten heißen Seitelinien, die Breitseiten Torauslinien, zwischen den Torpfosten jedoch Torlinien.</p>
      <p>Eine Sicherheitszone entlang der Spielfläche von mindestens 1 m neben den Seitenlinien und 2 m hinter den Torauslinien sollte gegeben sein.</p>
      <p>Die Beschaffenheit der Spielfläche darf im Spielverlauf nicht zugunsten einer Mannschaft verändert werden.</p>
    </div>
  </div>
  
  <div class="row">
    <div id="1:2" class="col-1">1:2</div>
    <div class="col-11">
      <p>In der Mitte der beiden Torauslinien steht ein <u>Tor</u> (Abb. 2a und 2b). Die Tore müssen fest im Boden oder an den Wänden hinter ihnen verankert sein. Sie sind im Lichten 2 m hoch und 3m breit.</p>
      <p>Die Pfosten des Tores sind durch eine Querlatte fest verbunden. Ihre hintere Kante muss mit der hinteren Seite der Torlinie verlaufen. Torpfosten und Latte müssen quadratisch sein (8 cm). Sie müssen auf den drei vom Spielfeld einzusehenden Seiten mit zwei kontrastierenden Farben gestrichen sein, die sich ebenfalls deutlich vom Hintergrund abheben sollen.</p>
      <p>Jedes Tor muss mit einem Netz versehen sein. Dieses muss so aufgehängt werden, dass ein in das Tor geworfener Ball normalerweise im tor verbleibt.</p>
    </div>
  </div>

  <div class="row">
    <div id="1:3" class="col-1">1:3</div>
    <div class="col-11">
      <p>Alle <u>Linien</u> auf der Spielfläche sind integraler Bestandteil des Bereichs, den sie begrenzen. Die Torlinien zwischen den Torpfosten sind 8 cm breit (Abb. 2a), alle andere Linien sind 5 cm breit.</p>
      <p>Zwei nebeneinander liegene Bereiche knnen anstatt durch Linien auch durch unterschiedliche Farben voneinander abgegrenzt werden.</p>
    </div>
  </div>
  
  <div class="row">
    <div id="1:4" class="col-1">1:4</div>
    <div class="col-11">
      <p>Vor jedem Tor befindet sich der Torraum (Abb. 5). Der Torraum wird wie folgt von der <u>Torraumlinie</u> (6-m-Linie) begrenzt:</p>
        <ol type="a">
          <li>Vor dem Tor wird in 6 m Abstand parallel zur Torlinie eine 3 m lange linie gezogen (gemessen von der hinteren Kante der Torlinie zur vorderen Kante der Torraumlinie).</li>
          <li>Zwei Viertelkreise von 6 m Halbmesser (gemessen von der hinteren Innenkante der Torpfosten) verbinden die 3 m lange Linie mit der Torauslinie (Abb. 1 und 2a).</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div id="1:5" class="col-1">1:5</div>
    <div class="col-11">
      <p>Die <u>Freiwurflinie</u> (9-m-Linie) wird gestrichelt und in 3 m Abstand vor der Torraumlinie gezogen. Die Markierungen der freiwurflinie sowie die Zwischenräume messen 15 cm (Abb. 1).</p>
    </div>
  </div>
  
  <div class="row">
    <div id="1:6" class="col-1">1:6</div>
    <div class="col-11">
      <p>Die <u>7-m-Linie</u> ist eine 1 m lange Linie vor dem Tor. Sie verläuft parallel zur Torlinie, gezogen in einem Abstand von 7 m, gemessen von der hinteren Kante der Torlinie zur vorderen Kante der 7-m-Linie (Abb. 1).</p>
    </div>
  </div>
  
  <div class="row">
    <div id="1:7" class="col-1">1:7</div>
    <div class="col-11">
      <p>Die <u>Torwartegrenzlinie</u> (4-m-Linie) ist eine 15 cm lange Linie vor dem Tor. Sie verläuft parallel zur Torlinie, gezogen in einem Abstand von 4 m, gemessen von der hinteren Kante der Torlinie zur vorderen Kante der 4-m-Linie (Abb. 1).</p>
    </div>
  </div>

  <div class="row">
    <div id="1:8" class="col-1">1:8</div>
    <div class="col-11">
      <p>Die <u>Mittellinie</u> verbindet die Halbierungspunkte der beiden Seitenlinien miteinander (Abb. 1 und 3).</p>
    </div>
  </div>
  
  <div class="row">
    <div id="1:9" class="col-1">1:9</div>
    <div class="col-11">
      <p>Die <u>Auswechsellinie</u> (ein Teil der Seitenlinie) reicht für jede Mannschaft von der Mittellinie bis zu einem 4,5 m von der Mittellinie entfernten Endpunkt. Von diesem Endpunkt der Auswechsellinien wird parallel zur Mittellinie und beiderseits der Seitenlinie eine 15 cm lange Linie gezogen (Abb. 1 und 3).</p>
      <p><i>
        <b>Hinweis:</b><br>
        Detailierte technische Anforderungen für die Spielfläche und die Tore enthalten die "Richtlinien für Spielflächen und Tore".
      </i></p>
    </div>
  </div>
  
  <div class="row">
      <div class="col-12">
        <h2 id="2">Regel 2 - Spielzeit, Schlusssignal, Time-out</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 id="Spielzeit">Spielzeit</h3>
      </div>
    </div>
  
    <div class="row">
        <div id="2:1" class="col-1">2:1</div>
        <div class="col-11">
          <p>Die normale <u>Spielzeit</u> für alle Mannschaften mit Spielern ab 16 jahren und älter beträgt 2 x 30 Minuten; die Halbzeitpausen normalerweise 10 Minuten.</p>
          <p>Die normale Spielzeit für Jugendmannschaften von 12-16 jahren beträgt 2 x 25 Minuten, für Jugendmannschaften von 8-12 Jahren 2 x 20 Minuten; die Halbzeitpausen normalerweise 10 Minuten.</p>
          <p><i>
            <b>Hinweis:</b><br>
            IHF, Kontinentalverbände und nationale Verbände haben das Recht, für ihren Bereich abweichende Regelungen bezüglich der Halbzeitpause zu treffen. Die Halbzeitpause beträgt maximal 15 Minuten.
          </i></p>
        </div>
      </div>
      
  <div class="row">
      <div id="2:2" class="col-1">2:2</div>
      <div class="col-11">
        <p>Ist ein Spiel nach Ablauf der regulären Spielzeit unentschieden und soll bis zur Entscheidung weitergespielt werden, erfolgt nach einer Pause von 5 Minuten eine <u>Verlängerung</u>. Die Verlängerung dauert 2 x 5 Minuten mit 1 Minute Halbzeitpause.</p>
      </div>
    </div>
</div>