<mat-expansion-panel class="main-accordion">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Zusammenfassung
    </mat-panel-title>
    <mat-panel-description>
      der letzten {{totalAnswers}} Fragen
    </mat-panel-description>

  </mat-expansion-panel-header>

  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile>
      {{correctAnswers}} korrekte Fragen von {{totalAnswers}} Fragen
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-progress-bar class="col-10" [value]="100*correctAnswers/totalAnswers" mode="determinate" color="warn"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile>
      {{totalScore | points }} von max. {{totalAnswers}} Punkten
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-progress-bar class="col-10" [value]="100*totalScore/totalAnswers" mode="determinate" color="warn"></mat-progress-bar>
    </mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>

<mat-expansion-panel class="main-accordion">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Falsche beantwortete Fragen
    </mat-panel-title>
    <mat-panel-description>
      {{wrongQuestions.length}} von {{totalAnswers}}
    </mat-panel-description>

  </mat-expansion-panel-header>

  <app-question-list [questions]="wrongQuestions" [results]="results"></app-question-list>

</mat-expansion-panel>

<mat-expansion-panel class="main-accordion">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Korrekt beantwortete Fragen
    </mat-panel-title>
    <mat-panel-description>
      {{correctQuestions.length}} von {{totalAnswers}}
    </mat-panel-description>

  </mat-expansion-panel-header>

  <app-question-list [questions]="correctQuestions" [results]="results"></app-question-list>

</mat-expansion-panel>