.question-card {
    max-width: 900px;
    margin: auto;
}

.question-number {
    font-size: 27px;
}

.question-text {
    font-size: 150%;
    margin-left: 20px;
}

.question-actions {
    padding-left: 20px;
}

.rule-reference {
    font-style: italic;
}