<app-loading-spinner *ngIf="!question"></app-loading-spinner>
<div class="container" *ngIf="question">
  <div class="row">
    <div class="col-12 question-text">
      {{question.id}}. {{question.question}}
    </div>
  </div>

  <div class="row">
    <div *ngIf="!finished" class="col-12">&nbsp;</div>
    <div *ngIf="finished" class="col-1 center-text">Lösung</div>
  </div>

  <div class="row" *ngFor="let answer of question.answers; let i = index">
    <div class="col-1 center-text">
      <mat-checkbox *ngIf="finished" [(ngModel)]="correctAnswers[i]" disabled></mat-checkbox>
    </div>
    <mat-checkbox class="col-11" [(ngModel)]="selectedAnswers[i]" [disabled]="finished">
      {{toLetter(i)}}) {{answer}}
    </mat-checkbox>
  </div>
</div>

<button *ngIf="!finished" (click)="checkAnswers()">Prüfen</button>
<div *ngIf="finished">
  <button (click)="reset()">Reset</button>
  Ergebnis: {{score | number}}
</div>