<mat-card class="question-card">

  <mat-card-header>
    <div mat-card-avatar>
      <button mat-fab disabled class="question-number">
        <span *ngIf="!id">?</span>
        <span *ngIf="id">{{id}}</span>
      </button>
    </div>
    <mat-card-title class="question-text">
      <span *ngIf="!question">&nbsp;
        <br>&nbsp;</span>
      <span *ngIf="question">{{question.text}}</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-progress-bar mode="buffer" *ngIf="!question"></mat-progress-bar>

    <app-answer-list 
      *ngIf="question"
      [finished]="finished"
      [question]="question"
      [(selectedAnswers)]="selectedAnswers"
      ></app-answer-list>
  </mat-card-content>

  <mat-card-actions class="question-actions">
    <button mat-raised-button color="primary" (click)="checkAnswers()" [disabled]="finished || !question">Prüfen</button>
    <button mat-raised-button color="primary" (click)="next()" [disabled]="!finished">Weiter</button>
    <span *ngIf="finished">
      Ergebnis: {{score | points}}
    </span>
    <a mat-raised-button color="primary" routerLink="/analysis">Zur Auswertung</a>
  </mat-card-actions>
</mat-card>