<table class="table table-hover">
  <tbody>
    <tr 
    class="{{finished?(selectedAnswers[i]==correctAnswers[i]?'table-success':'table-danger'):'table-default'}}" 
    *ngFor="let answer of question.answers; let i = index" 
    (click)="toggle(i)">
      <td>
        <div [class]="selectedAnswers[i]?(finished?'custom-checkbox-checked-inactive':'custom-checkbox-checked'):'custom-checkbox-unchecked'"></div>
        <!-- <input type="checkbox" [(ngModel)]="selectedAnswers[i]" [disabled]="finished"/> -->
      </td>
      <td>
        {{answer}}
      </td>
    </tr>
  </tbody>
</table>

<ol class="breadcrumb" *ngIf="finished">
  <li class="breadcrumb-item">Regeln</li>
  <!-- TODO: Popover für erste 50 Zeichen einer Regel  -->
  <li class="breadcrumb-item" *ngFor="let rule of question.ruleReferences"><a href="#">{{rule}}</a></li>
</ol>
<ol class="breadcrumb" *ngIf="!finished">
  <li class="breadcrumb-item">Regeln</li>
</ol>