
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.custom-checkbox-unchecked {
    width: 25px;
    height: 25px;
    background-image: url('../../assets/checkbox.png');
    background-repeat: no-repeat;
}
.custom-checkbox-checked {
    width: 25px;
    height: 25px;
    background-image: url('../../assets/checkbox.png');
    background-position: 0 -25px;
    background-repeat: no-repeat;
    background-color: theme-color("info");
}
.custom-checkbox-checked-inactive{
    width: 25px;
    height: 25px;
    background-image: url('../../assets/checkbox.png');
    background-position: 0 -50px;
    background-repeat: no-repeat;
}